body {
    background-color: dimgray;
    text-align: center;
}

canvas#gc {
    border-style: solid;
    border-width: 5px;
    border-color: azure;
    width: 95%;
    height: 95%;
}

html,
body {
    overscroll-behavior-y: contain;
}
